html {
  scroll-snap-type: y mandatory;
}

:root {
  --white: #fffffc;
  --black: #000000;
  --brown: #beb7a4;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  margin: 0;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  scroll-snap-align: start;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
}

a:link {
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

a:visited {
  color: black;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
}
#about {
  background-color: var(--white);
}

.big_image {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
}

.description {
  text-align: center;
  font-size: 3vh;
  width: 40vw;
  margin-left: 5vw;
}

.left {
  text-align: left;
  margin-left: 0;
  margin-right: 5vw;
}

#previous_work {
  background-color: white;
  color: black;
}

#project1 {
  background-color: #fefff1;
}

#project2 {
  background-color: #004e64;
  color: white;
}

.project {
  display: flex;
  align-items: center;
  justify-items: center;
}

.project_img {
  height: 50vh;
  width: 20vw;
}
#contact {
  background-color: var(--white);
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 10px;
  background-color: var(--white);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--black);
}

#call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
}

.small_image {
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}

img {
  box-shadow: 2px 2px 5px black;
}
